* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}
  
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url(images/bg.jpg);
    background-repeat:repeat;
    overflow: hidden;

  }
  #particle-js
  {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  canvas{
    position:absolute;
    display: block;
  }
  
  .container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
  }
  
  /* .container,
  input,
  ul {
    outline: none;  
  } */
  
  input {
    position: absolute;
    background-image: url(images/bg.jpg);
    height: 80px;
    width: 500px;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.5rem;
    font-family: inherit;
    color: rgb(153, 153, 153);
    text-align: center;
    margin-top: 2rem;
    /* resize: none; */
    /* margin: 30px auto 20px auto; */
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }
  
  ul {
    position: absolute;
    width: 500px;
    height: 500px;
    margin-top: 10rem;
    font-size: 1.5rem;
    color: rgb(153, 153, 153);
    text-align: center;
    list-style: none;
    padding-left: 0;
    border-radius: 7px;
    text-align: center;
    overflow: auto;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }
  
  li{
      margin-top: 15px;
  }